:root {
}

html,
body {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

html {
  height: auto;
  min-height: 100%;

  background: linear-gradient(270deg, #5dd2b3, #b25dd2);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  -o-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "con con"
    "peo peo"
    "hob qui"
    "per rel"
    "per rel";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4rem auto auto auto auto;
  padding: 20px 20px;
}

.container > * {
  background: white;
  border: 2px solid black;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.list {
  padding: 10px;
}

.person {
  grid-area: peo;
}

.hobbies {
  grid-area: hob;
}

.quirks {
  grid-area: qui;
}

.religion {
  grid-area: rel;
}

.personality {
  grid-area: per;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  grid-area: con;
  height: 100%;
  outline: none;
}

button:hover {
  background: black;
  color: white;
}

/* TABLES */

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  padding: 5px 0;
}

td {
  padding: 5px 0;
}

.data__label {
  font-weight: bold;
}

.data__value {
  text-align: right;
}

.data_text {
  text-align: left;
}

.data__single {
  text-align: center;
}

@media (max-width: 550px) {
  .container {
    grid-template-areas:
      "con con"
      "peo peo"
      "hob qui"
      "per per"
      "rel rel";
  }
}
