:root {
  --grey: rgba(0, 0, 0, 0.7);
}

html,
body {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

html {
  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  -o-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
  background: linear-gradient(270deg, #5dd2b3, #b25dd2);
  background-size: 400% 400%;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    /* "con con con con con" */
    "peo peo peo peo peo"
    "per per rel rel hob"
    "per per rel rel qui";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 4rem auto auto auto; */
  grid-template-rows: auto auto auto;
  padding: 20px 20px 20px 20px;
}

.container > * {
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  color: var(--grey);
}

.control {
  align-items: center;
  background: black;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  height: 3rem;
  justify-content: center;
  outline: none;
  cursor: pointer;
  position: absolute;
  left: calc(50vw - 80px);
  width: 160px;
  text-decoration: none;
}

.control:hover {
  background: black;
  color: white;
}

.new {
  top: calc(50vh - 1.5rem);
  margin: 0 auto;
}

.old {
  position: static;
  left: 0;
  margin: 0 auto 20px auto;
}

.disabled {
  pointer-events: none;
}

.hidden {
  /* display: none; */
  opacity: 0;
}

.list {
  padding: 10px;
  transition: opacity 100ms linear;
}

.person {
  grid-area: peo;
}

.hobbies {
  grid-area: hob;
}

.quirks {
  grid-area: qui;
}

.religion {
  grid-area: rel;
}

.personality {
  grid-area: per;
}

/* TABLES */

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  padding: 5px 0;
}

td {
  padding: 5px 0;
}

.data__label {
  font-weight: bold;
}

.data__value {
  text-align: right;
}

.data__text {
  line-height: 25px;
  padding: 10px 0;
  text-align: left;
}

.data__single {
  text-align: center;
}

@media (max-width: 750px) {
  .container {
    grid-template-areas:
      /* "con con con con" */
      "peo peo peo peo"
      "hob hob qui qui"
      "per per rel rel"
      "per per rel rel";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 4rem auto auto auto auto; */
    grid-template-rows: auto auto auto auto;
  }
}

@media (max-width: 550px) {
  .container {
    grid-template-areas:
      /* "con con" */
      "peo peo"
      "hob qui"
      "per per"
      "rel rel";
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 4rem auto auto auto auto; */
    grid-template-rows: auto auto auto auto;
  }
}
